@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-900 text-white font-light;
	}
	@font-face {
		font-family: 'Inconsolata';
		font-style: normal;
		/* font-weight: 300; */
		src: url(../public/fonts/Inconsolata-VariableFont.ttf)
			format('truetype');
	}
}

@layer components {
	.btn-large {
		@apply p-3 border-2 m-2 border-oap-200 rounded-lg bg-oap-900 text-3xl text-oap-200 hover:bg-oap-400 hover:text-oap-950 hover:font-medium;
	}
}
